body{
  background: white;
  text-align: center;
  color: darkblue;
}
.signUpPage{
  background: whitesmoke;


}
.main-logo{
  width:8%;
  height: 8%;
  margin-top: 2%;
}

.sec-log{
  width: 10%;
  margin-right:100%;
}

.signin{
  display: block;
  width:100px;
  margin-left: 46%;
}
footer{
  background: blue;
}

.signup{
  width: 95%;
  margin-left: 2.5%;
}
.signup form{
  width: 90%;
  margin-left: 5%;
}
.mainn li a{
  color:whitesmoke;
}
.rL{
  display: inline-block;
}
